<h2 class="page-title">评分标准</h2>
<div class="row">
  <div class="col-md-6">
    <section class="widget">
      <header>
        <h4>IELTS <small>Band Score</small></h4>
      </header>
      <div class="body">
        <p>How is IELTS scored?</p>
        <p>IELTS provides a profile of your ability to use English, In other words your IELTS result will consist of a score in each of the tour skills (listening, reading, writing, speaking) which is then averaged to give the Overall Band Score or final mark. Performance is rated in each skill on a scale of 9 to 1. The nine overall Bands and their descriptive statements are as follows:</p>
        <p><strong>9 Expert user</strong><br>
          Has fully operational command of the language: appropriate, accurate and fluent with complete understanding. </p>
        <p><strong>8 Very good user</strong><br>
          Has fully operational command of the language with only occasional unsystematic inaccuracies and inappropriacies. Misunderstandings may occur in unfamiliar situations. Handles complex detailed argumentation well </p>
        <p><strong>7 Good user</strong><br>
          Has operational command of the language, though with occasional inaccuracies, inappropriacies and misunderstandings in some situations. Generally handles complex language well and understands detailed reasoning.</p>
        <p><strong>6 Competent user</strong><br>
          Has generally effective command of the language despite inaccuracies, inappropriacies and misunderstandings. Can use and understand fairly complex language, particularly in familiar situations. </p>
        <p><strong>5 Modest user</strong><br>
          Has partial command of the language, coping with overall meaning in most situations, though is likely to make many mistakes, Should be able to handle basic communication in own field, </p>
        <p><strong>4 Limited user</strong><br>
          Basic competence is limited to familiar situations. Has frequent problems in understanding and expression. Is not able to use complex language. </p>
        <p><strong>3 Extremely limited user</strong><br>
          Conveys and understands only general meaning in very familiar situations. Frequent breakdowns in communication occur. </p>
        <p><strong>2 Intermittent user</strong><br>
          No real communication is possible except for the most basic information using isolated words or short formulae in familiar situations and to meet immediate needs. Has great difficulty understanding spoken and written English, </p>
        <p><strong>1 Non user</strong><br>
          Essentially has no ability to use the language beyond possibly a few isolated words. </p>
        <p><strong>0 Did not attempt the test</strong><br>
          No assessable information provided. </p>
      </div>
    </section>
  </div>

  <div class="col-md-4">
    <section class="widget">
      <header><h4>IELTS <small>Marking Scheme</small></h4></header>
      <div class="body">

        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Level</th>
                <th>Band</th>
                <th>Listening Score</th>
                <th>Reading Score</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Expert</td>
                <td>9</td>
                <td>39-40</td>
                <td>39-40</td>
              </tr>
              <tr>
                <td>Very Good</td>
                <td>8.5</td>
                <td>37-38</td>
                <td>37-38</td>
              </tr>
              <tr>
                <td>Very Good</td>
                <td>8</td>
                <td>35-36</td>
                <td>35-36</td>
              </tr>
              <tr>
                <td>Good</td>
                <td>7.5</td>
                <td>32-34</td>
                <td>33-34</td>
              </tr>
              <tr>
                <td>Good</td>
                <td>7</td>
                <td>30-31</td>
                <td>30-32</td>
              </tr>
              <tr>
                <td>Competent</td>
                <td>6.5</td>
                <td>26-29</td>
                <td>27-29</td>
              </tr>
              <tr>
                <td>Competent</td>
                <td>6</td>
                <td>23-25</td>
                <td>23-26</td>
              </tr>
              <tr>
                <td>Modest</td>
                <td>5.5</td>
                <td>18-22</td>
                <td>19-22</td>
              </tr>
              <tr>
                <td>Modest</td>
                <td>5</td>
                <td>16-17</td>
                <td>15-18</td>
              </tr>
              <tr>
                <td>Limited</td>
                <td>4.5</td>
                <td>13-15</td>
                <td>13-14</td>
              </tr>
              <tr>
                <td>Limited</td>
                <td>4</td>
                <td>10-12</td>
                <td>10-12</td>
              </tr>
              <tr>
                <td>Extremely Limited</td>
                <td>3.5</td>
                <td>8-10</td>
                <td>8-9</td>
              </tr>
              <tr>
                <td>Extremely Limited</td>
                <td>3</td>
                <td>6-7</td>
                <td>6-7</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </section>
  </div>
</div>

<div class="row">
  <div class="col-md-10">
    <section class="widget">
      <header>
        <h4>IELTS <small>What is the pass mark? </small></h4>
      </header>
      <div class="body">
        <p>There is no fixed pass mark in IELTS. The institution you want to enter will decide whether your score is appropriate for the demands of the course of study or training you want to undertake. However, as a general rule, scores below Band 5 in any one skill are considered too low for academic study; scores above Band 6 are deemed to be adequate to good. Overall Band scores of 5 or 6 are borderline and may not be acceptable at many institutions. If you are getting only about half of the questions in these sample tests correct, then you are probably not quite ready to take the IELTS test. Again you should seek advice from a teacher about your level of English. Remember you must allow a duration of at least 3 months between each attempt at the test. </p>
        <!--<button class="btn btn-lg btn-primary btn-block">前往考试</button>-->
      </div>
    </section>
  </div>
</div>
