<h2 class="page-title">单词测验</h2>
<div class="row">
  <div class="col-md-3">
    <section class="widget">
      <header>
        <h4>英译中测试 <small>Translate english into chinese</small></h4>
      </header>
      <div class="body">
        <p>本测试会在所有雅思词汇中随机选择20个单词作为测试题。请为单词选择所对应的中文释义。</p>
        <p class="text-align-center">
          <a href="/p/vocabularyTest/en" class="btn btn-lg btn-success">开始英译中测试</a>
        </p>
      </div>
    </section>
  </div>
  <div class="col-md-3">
    <section class="widget">
      <header>
        <h4>中译英测试 <small>Translate chinese into english</small></h4>
      </header>
      <div class="body">
        <p>本测试会在所有雅思词汇中随机选择20个单词作为测试题。请为单词选择所对应的英文释义。</p>
        <p class="text-align-center">
          <a href="/p/vocabularyTest/cn" class="btn btn-lg btn-info">开始中译英测试</a>
        </p>
      </div>
    </section>
  </div>
</div>
